# Database
MONGO_URI=mongodb://127.0.0.1:27018/farmy
MONGO_URI=mongodb+srv://adnparr_db_user:Dong1234@farmdiaries.ytxyxvl.mongodb.net/Farm_Diaries?appName=FarmDiaries
# JWT Secrets
JWT_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

SENTRY_DSN=https://o4511519645696000.ingest.us.sentry.io/4511519650938880